doctype html
html
  head
    link(rel="stylesheet", href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css", type="text/css")
    script(type="text/javascript", src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js")
    title NBA Battle Royale

  body
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-2
        .navbar-brand NBA Battle Royale
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            if route==''
              li.nav-item.active: a.nav-link(href="/") All players
            else
              li.nav-item: a.nav-link(href="/") All players
            if route=='hof'
              li.nav-item.active: a.nav-link(href="/hof") HOF
            else
              li.nav-item: a.nav-link(href="/hof") HOF
            if route=='active'
              li.nav-item.active: a.nav-link(href="/active") Active
            else
              li.nav-item: a.nav-link(href="/active") Active
            if route=='retired'
              li.nav-item.active: a.nav-link(href="/retired") Retired
            else
              li.nav-item: a.nav-link(href="/retired") Retired

            li.nav-item: a.nav-link(href="/rankings") View Rankings


      .row
        .col-md-4
          .row
            .col-md-12.text-right
              form.mt-3(method="POST")
                .form-group
                  input(type="hidden", name="playerids", value=r[0]._id+":"+r[1]._id)
                  button.btn.btn-primary(type="submit", name="submit")
                    h3 #{r[0].name}

          .row.mt-3
            .col-md-7.text-left
              h4 Accolades:
              ul
                if r[0].bling.length > 0
                  each bl in r[0].bling
                    li #{bl}
                else
                  li None
            .col-md-5.text-right
              img(src=r[0].img_path, height="128px")


          hr

          .row
            .col-md-12.text-left
              if r[0].active
                h5 Currently active
              else
                h5 Retired

          .row
            .col-md-12.text-left
              a(href=r[0].url) View my Basketball-Reference page.

        .col-md-4.text-center.align-middle.wt-3
          img(src="./static/img/vs_graphic.png", width="128px")

          table.table.table-sm
            tbody
              tr
                td #{r[0].stats.G}
                th G
                td #{r[1].stats.G}
              tr
                td #{r[0].stats.PTS}
                th PTS
                td #{r[1].stats.PTS}
              tr
                td #{r[0].stats.TRB}
                th TRB
                td #{r[1].stats.TRB}
              tr
                td #{r[0].stats.AST}
                th AST
                td #{r[1].stats.AST}
              tr
                td #{r[0].stats['FG%'].toFixed(3)}
                th FG%
                td #{r[1].stats['FG%'].toFixed(3)}
              if (r[0].stats.hasOwnProperty("FG3%") || r[1].stats.hasOwnProperty("FG3%"))
                tr
                  if r[0].stats.hasOwnProperty("FG3%")
                    td #{r[0].stats["FG3%"].toFixed(3)}
                  else
                    td --
                  th 3P%
                  if r[1].stats.hasOwnProperty("FG3%")
                    td #{r[1].stats["FG3%"].toFixed(3)}
                  else
                    td --
              tr
                td #{r[0].stats['FT%'].toFixed(3)}
                th FT%
                td #{r[1].stats['FT%'].toFixed(3)}
              tr
                td #{r[0].stats.PER}
                th PER
                td #{r[1].stats.PER}
              tr
                td #{r[0].stats.WS}
                th WS
                td #{r[1].stats.WS}

        .col-md-4
          .row
            .col-md-12.text-left
              form.mt-3(method="post")
                .form-group
                  input(type="hidden", name="playerids", value=r[1]._id+":"+r[0]._id)
                  button.btn.btn-primary.text-right(type="submit", name="submit")
                    h3 #{r[1].name}


          .row.mt-3
            .col-md-5.text-left
              img(src=r[1].img_path, height="128px")
            .col-md-7.text-right
              h4 Accolades:
              ul
                if r[1].bling.length > 0
                  each bl in r[1].bling
                    li #{bl}
                else
                  li None

          hr

          .row
            .col-md-12.text-right
              if r[1].active
                h5 Currently active
              else
                h5 Retired

          .row
            .col-md-12.text-right
              a(href=r[1].url) View my Basketball-Reference page.

