doctype html
html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", type="text/css")
    title NBA Battle Royale
  body
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-2
        .navbar-brand NBA Battle Royale
        ul.navbar-nav
          li.navbar-item: a.nav-link(href="/") Play!
          li.navbar-item: a.nav-link(href="/rankings") View Rankings

      .row
        .col-md-5.text-center
          form.mt-3(action="/", method="POST")
            .form-group
              input(type="hidden", name="playerids", value=r[0]._id+":"+r[1]._id)
              button(type="submit", name="submit", class="btn btn-default")
                h1 #{r[0].name}
          a(href=r[0].url) View my Basketball-Reference page.
        .col-md-1.text-center.align-middle
          img(src="./static/img/vs_graphic.png", width="100%")
        .col-md-5.text-center
          form.mt-3(action="/", method="POST")
            .form-group
              input(type="hidden", name="playerids", value=r[1]._id+":"+r[0]._id)
              button(type="submit", name="submit", class="btn btn-default")
                h1 #{r[1].name}
          a(href=r[1].url) View my Basketball-Reference page.