doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="//cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/datatables.min.css")
    script(src="//cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/datatables.min.js")
    title NBA Battle Royale

    // Motomo tracking code
    script.
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//34.228.14.142/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

  body
    .container

      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-2
        .navbar-brand NBA Battle Royale
        ul.navbar-nav
          li.navbar-item: a.nav-link(href="/") Play!
          li.navbar-item.active: a.nav-link(href="/rankings") View Rankings

      script.
        $(document).ready( function () {
          $("#players").DataTable({
            "aaSorting": [[2,"desc"]]
          });
        });

      .row
      table#players.table.table-hover.dt-responsive
        thead
          tr
            th
            th Player
            th Score
            th Active?
            th HOF?
        tbody
          each player in players
            tr
              td
                img(src=player.img_path, height="80px")
              td.align-middle
                h5: a(href=player.url) #{player.name}
              td #{player.score.toFixed(2)}
              td
                if player.active
                  p Active
                else
                  p Inactive
              td
                if player.bling.indexOf("Hall of Fame") >= 0
                  p HOF
                else
                  p No
